main,
main > .container,
main > .container::before {
	min-height: inherit;
}

main > .container {
	text-align: center;
}

main > .container::before {
	content: '';
	display: inline-block;
	width: 1px;
	margin-left: -1px;
	vertical-align: middle;
}
