@use '../abstracts/variables' as var;

.btn {
	display: inline-block;
	padding: 0;
	background-color: transparent;
	border: 1px solid transparent;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.btn--link {
	color: var.$color-white;
}

.btn--link:hover {
	color: var.$color-cyan;
}
