@use '../abstracts/variables' as var;

.btn {
	display: inline-block;
	text-decoration: none;
}

.btn--link {
	color: var.$color-white;
	transition: color 0.15s ease-in-out;
}

.btn--link:hover {
	color: var.$color-cyan;
}
