@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.btn {
	display: inline-block;
	text-decoration: none;
}

.btn--link {
	color: var.$color-white;
	@include mix.transition(color 0.15s ease-in-out);
}

.btn--link:hover {
	color: var.$color-cyan;
}
