@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.card {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: func.em(350);
	padding: func.em(24);
	background-color: var.$color-dark-blue-2;
	margin: func.em(30) 0 func.em(60);
	text-align: left;
	border-radius: 15px;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.card__image {
	position: relative;
	background-color: var.$color-soft-blue;
	margin-bottom: func.em(24);
	border-radius: 8px;
	cursor: pointer;
}

.card__image::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var.$color-cyan-light;
	background-image: url('../images/icons/view.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: inherit;
	opacity: 0;
	transition: opacity 0.3s;
}

.card__image:hover::before {
	opacity: 1;
}

.card__image img {
	width: 100%;
	height: auto;
	border-radius: inherit;
}

.card__title {
	margin-bottom: func.em(12, 22);
}

.card__desc {
	margin-bottom: func.em(16, 18);
}

.card__stats-list {
	font-size: 0;
}

.card__stats-list-item {
	display: inline-block;
	width: 50%;
	font-size: func.rem(15);
}

.card__stats-list-item:first-child {
	font-weight: var.$font-weight-600;
	color: var.$color-cyan;
}

.card__stats-list-item:last-child {
	text-align: right;
}

.card__stats-list-item > *,
.card__author > * {
	display: inline-block;
	vertical-align: middle;
}

.card__stats-list-item i {
	margin-right: func.em(4);
}

.card__author {
	padding-top: func.em(16);
	margin-top: func.em(16);
	border-top: 1px solid var.$color-dark-blue-3;
}

.card__author-img {
	width: func.em(33);
	height: auto;
	margin-right: func.em(12);
	border: 1px solid var.$color-white;
	border-radius: 50%;
}

.card__author-desc {
	font-size: func.em(15);
}

@media (min-width: 48em) {
	.card__title {
		margin-bottom: func.em(16, 22);
	}

	.card__desc {
		margin-bottom: func.em(24, 18);
	}

	.card__stats-list-item {
		font-size: func.rem(16);
	}

	.card__author-desc {
		font-size: func.em(16);
	}

	.card__author {
		margin-top: func.em(24);
	}
}
