@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

body {
	position: relative;
	min-width: 420px;
	background-color: var.$color-dark-blue-1;
	font-family: var.$font-family-primary;
	-webkit-font-smoothing: antialiased;
	font-size: func.em(16);
	font-weight: var.$font-weight-400;
	color: var.$color-soft-blue;
	line-height: 1.5;
}

ul,
ol {
	margin: 0;
	padding: 0;
}
