@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var.$font-family-headings;
	font-weight: var.$font-weight-600;
	color: var.$color-soft-blue;
	line-height: 1.2727;
}

h2 {
	font-size: 1.375em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.8em;
}

p {
	font-size: func.em(18);
	font-weight: var.$font-weight-300;
}

strong {
	font-weight: var.$font-weight-600;
}
