@mixin prefix($property, $value, $prefixes) {
	@each $prefix in $prefixes {
		-#{$prefix}-#{$property}: $value;
	}
	#{$property}: $value;
}

@mixin box-sizing($value) {
	@include prefix(box-sizing, $value, webkit moz);
}

@mixin box-shadow($value) {
	@include prefix(box-shadow, $value, webkit moz);
}

@mixin border-radius($value) {
	@include prefix(border-radius, $value, webkit moz);
}

@mixin transform($value) {
	@include prefix(transform, $value, webkit moz ms o);
}

@mixin transition($value...) {
	@include prefix(transition, $value, webkit moz o);
}
