$color-soft-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);
$color-cyan-light: hsla(178, 100%, 50%, 0.5);

$color-dark-blue-1: hsl(217, 54%, 11%);
$color-dark-blue-2: hsl(216, 50%, 16%);
$color-dark-blue-3: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);

$font-family-primary: 'Outfit', sans-serif;
$font-family-headings: 'Outfit', sans-serif;

$font-size-primary: 14px;

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-600: 600;
